*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#menu{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
#menu li{
    list-style: none;
}

#menu > ul > li {
    float: left;
    position:relative;
    
}
#menu > ul > li > a {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 10px;
    color: #000;
    background-color: aqua;
    border-bottom: 2px solid green;
    transition: all .5s ease;

}
#menu > ul > li:hover > a {
    background-color: red;
    border-bottom: 2px solid rgb(128, 64, 0);

}
#menu > ul > li > ul{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #ccc;
    

}
#menu > ul > li:hover > ul {
        display: block;
        position: absolute;
        top: 100%;
        background-color: #ccc;
        
    
      
    

}
#menu > ul > li > ul > li > a {
    display: block;
    height: 30px;
    width: 150px;
    line-height: 30px;
    padding: 0 5px;
}

